#abap_box {
border:1px solid #ddd;
margin-top:15px;
padding:10px;
}

#abap_box .author_photo {
width:150px;
height:150px;
}

#abap_box .author_photo img {
border:1px #666;
padding-right:10px;
float:right;
}

#abap_box p {
margin-bottom:.4em;
}